{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": false,
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]

}